* {
    font-family: "Times New Roman", Georgia, Serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav {
    border: 2px solid rgb(206, 205, 205);
    position: fixed;
    display: flex;
    width: 100%;
    height: 5%;
    top: 0;
    left: 0;
    background-color: white;
    align-items: center;
    z-index: 1;
}

.spacing {
    letter-spacing: 3px;
    font-size: 1.1rem;
}

.nav-restaurant-name {
    flex-grow: 1;
    padding-left: 2%;
    font-weight: lighter;
}

.nav ul {
    display: flex;
    padding-right: 2%;
}

.nav ul li {
    display: inline;
    margin: 15px;
}

.nav ul li a {
    text-decoration: none;
}

div {
    border: 1px solid black;
}

.header-main {
    border: 1px solid blue;
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 80px;
}


.header-container {
    width: 1600px;
    max-height: 800px;
    position: relative;
}

.burger {
    width: 100%;
    height: auto;
}

.header-name {
    position: absolute;
    bottom: 0;
    font-size: 2.5rem;
    margin: 27px;
    font-weight: lighter;
    color: rgb(87, 87, 87);
}

.content-section {
    margin: auto;
    max-width: 1200px;
}

.content {

}

.img-container {
    width: 600px;
    height: 750px;
}

.table-img {
    width: 100%;
    height: auto;
}
